* {
    box-sizing: border-box;
}
body {
    background-color: #E5E5E5;
    position: relative;
}
/*--------------------------------------------------------*/
.confirm_screen {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    z-index: 2;
}
.confirm {
    width: 377px;
    height: 353px;
    background-color: #50D074;
    border-radius: 15px;
}
/*--------------------------------------------------------*/
.menu_full {
    background-color: #E5E5E5;;
    width: 2000px;
    height: auto;
    margin-left: 17px;
}
.menu_selectPLUStext {
    background-color: #E5E5E5;
    height: auto;
    width: 100%;
    margin-top: 17px;
}
.menu_select {
    overflow: scroll;
    display: flex;
    background-color: #E5E5E5;
    height: auto;
    width: 100%;
    margin-left: -4px;
}
.menu_select::-webkit-scrollbar {
    display: none;
}
.select_text {
    margin-top: 23px;
    margin-bottom: 13px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333;
}
.food_select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 172px; 
    background-color: #FFFFFF;
    border-radius: 22px;
    margin-right: 13px;
    box-shadow: 0 0 4px #b6b6b6;
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.img {
    width: 144px;
    margin-top: 18px;
    margin-bottom: 8px;
}
.text_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 147px;
    height: auto;
    margin-bottom: 18px;
}
.name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}
.desc {
    margin-top: 4px;
    margin-bottom: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
}
.price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
/*--------------------------------------------------------*/
.top_bar {
    margin-bottom: 27px;
    width: 100%;
    height: 92px;
}
.top_bar_fixed {
    width: 100%;
    height: 92px;
    position: fixed;
    background-color: #CF2B2B;
    box-shadow: 0.5px 0.5px 2px 4px rgba(121, 121, 121, 0.350);
    z-index: 1;
}
.title {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    margin-bottom: -5px;
    margin-top: 5px;
    margin-left: 17px;
}
.sub_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 17px;
}
/*--------------------------------------------------------*/
.bottom_bar {
    margin-top: 17px;
    width: 100%;
    height: 92px;
}
.bottom_bar_fixed {
    width: 100%;
    height: 92px;
    position: fixed;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    bottom: 0;
}
.button {
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 364px;
    height: 61px;
    background-color: #CBCBCB;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
}