* {
    box-sizing: border-box;
}
body {
    background-color: aqua;
}
/*--------------------------------------------------------*/
.menu_full {
    background-color: purple;
    width: 2000px;
    height: auto;
    margin-left: 17px;
}
.menu_selectPLUStext {
    background-color: #E5E5E5;
    height: auto;
    width: 100%;
    margin-top: 17px;
}
.menu_select {
    overflow: scroll;
    display: flex;
    background-color: #E5E5E5;
    height: auto;
    width: 100%;
}
.menu_select::-webkit-scrollbar {
    display: none;
}
.select_text {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333;
}
.food_select {
   height: 216px;
   width: 172px; 
   background-color: #FFFFFF;
   border-radius: 22px;
   margin-right: 17px;
}
/*--------------------------------------------------------*/
.top_bar {
    margin-bottom: 31px;
    width: 100%;
    height: 92px;
}
.top_bar_fixed {
    width: 100%;
    height: 92px;
    position: fixed;
    background-color: #CF2B2B;
    box-shadow: 0.5px 0.5px 2px 4px #b6b6b6;
    z-index: 1;
}
.title {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    margin-bottom: -5px;
    margin-top: 5px;
    margin-left: 17px;
}
.sub_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 17px;
}
/*--------------------------------------------------------*/
.bottom_bar {
    margin-top: 17px;
    width: 100%;
    height: 92px;
}
.bottom_bar_fixed {
    width: 100%;
    height: 92px;
    position: fixed;
    bottom: 0;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.button {
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 364px;
    height: 61px;
    background-color: #CBCBCB;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
}